<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/static/css/estilo-base.css" rel="stylesheet" type="text/css">
    <link href="/static/css/estilo-formularios.css" rel="stylesheet" type="text/css">
    <link href="/static/css/estilo-busqueda.css" rel="stylesheet" type="text/css">
    <link href="/static/css/popup.css" rel="stylesheet" type="text/css">
    <script src="/static/js/programa-base.js"></script>
    <title>titulo</title>
</head>
<body >
    <!--<a id="volver-flotante" class="btn-flotante boton-standar" style="display:{{volver.D}};" href="{{volver.url}}">&LeftArrow; Volver</a>-->
    {% include 'navbar.html' %}
    {% block content %}
    {% endblock %}
    <footer>
    </footer>
</body>
</html>