{%extends 'base.html'%}
{%block content%}
    <main style="text-align:center;position:relative;z-index:1;">
        <div class="res-cont-1">
            <div class="res-cont-head-1">
                <h1>Resultados</h1>
                <hr style="width:65%;">
            </div>
            <div class="res-fil-1">
                <span>
                    Filtros: <!--<span class="res-fil-sub-1">Algo<span class="res-fil-sub-x">&times;</span></span>-->
                </span>
            </div>
            <div class="res-item-cont-1">
                <div style="text-align:center;width:68%;">
                    <p style="color:#000;">{{texto}}</p>
                </div>
                {% for p in productos %}
                <div class="res-item-1">
                    <div class="res-item-id">ID: {{p.id}}</div>
                    <div class="res-item-name">{{p.nombre}}</div>
                    {% for l in labs %}
                        {% if l.id == p.laboratorio %}
                            <div class="res-item-lab">{{l.nombre}}.</div>
                        {% endif %}
                    {% endfor %}
                    
                    <div>
                        <div class="res-item-price">${{p.precio_unidad}}</div>
                        <div class="res-item-button">
                            <a style="padding:1px 4px;" class="boton-standar" href="/comprar/{{p.id}}">Ver</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
    <form class="res-fil-cont-1" method="POST" action="/resultados/">
            {% csrf_token %}
        <div class="res-fil-item-1">
            <h3 style="margin-bottom:0.5em;">Buscar</h3>
            <input id="input-busqueda" name="busqueda" type="search"  placeholder="Producto/Farmaco"
            style="border:1px solid#999;outline:0;padding:2% 6%;height:3em;width:78%;border-top-left-radius: 50px;border-bottom-left-radius: 50px;">
            <button type="submit" class="btn-buscar"
            style="width:19%;border-top-right-radius: 50px;border-bottom-right-radius: 50px;">
            <img src="/static/img/search.png" style="width:1.9em;" alt="">
        </button> 
        </div>
        <hr style="width:95%;margin-top:0px;">
        <div class="res-fil-item-1">
            <h3>Filtros</h3>
        </div>
        <div class="res-fil-item-1" style="text-align:start;">
            <input type="checkbox" name="" id="" style="width:auto;margin:8px;">
            <label for="">Por Laboratorio</label>
            <input name="lab" type="text" style="padding:2% 6%;height:3em;">   
        </div>
        <!--<div class="res-fil-item-1" style="text-align:start;">
            <input type="checkbox" name="" id="" style="width:auto;margin:8px;">
            <label for="">Por tipo</label>
            <input type="text" style="padding:2% 6%;height:3em;">   
        </div>-->
        <input type="hidden" name="pagina" value="res">
    </form>
{%endblock%}