{% extends 'base.html' %}
{% block content %}
<main style="text-align:center;position:relative;z-index:1;">
        <h1>Notificaciones</h1>
        <hr style="width:80%;">
        <p style="color:#ccc;position: absolute;z-index:2;left:0%;right: 0%;">{{texto}}</p>
        {% for n in Notificaciones %}
        <div class="block-cont" style="position:relative;z-index:3;background-color:#fff;">
            <div class="sub-block">
                <span class="sub-block-text">Tipo notificación: {{n.tipo}}</span>
                <span class="sub-block-text" style="width:50%;">Asunto: {{n.asunto}}</span>
                <a href="/notificaciones/{{n.id}}" class="sub-block-text link-def" style="width:10%;">Detalles</a>
            </div>
        </div>
        {% endfor %}
    </main>
{%endblock%}